@import "../themes/bootstrap-color.scss";
.contact-page {
  @media screen and (max-width: 990px) {
    .border-right {
      border-right: none !important;
    }
  }
  .contact-form {
    input,
    textarea,
    select {
      background-color: #f5f5f5;
      color: #333;
    }

    input,
    textarea,
    select,
    .btn-block {
      border-radius: 0px !important;
      border: none !important;
    }

    select.form-control {
      min-height: 48px;
      height: auto;
      line-height: 1.5;
      cursor: pointer;
      appearance: auto;
    }

    .form-label {
      font-weight: 600;
      color: #333;
      margin-bottom: 0.5rem;
      display: block;
      font-size: 0.95rem;
    }

    .btn-block:hover {
      color: #fff !important;
    }
  }

  .contact-info {
    svg {
      margin-right: 1rem;
    }

    .fill-svg {
      fill: $secondary;
      stroke: none;
    }

    .stroke-svg {
      stroke: $secondary;
      fill: none;
    }

    .address {
      .fill-svg {
        fill: $secondary;
        stroke: #fff;
        stroke-width: 2;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
