.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
  background-image: url("../images/bg.webp"); /*Fallback background*/
  background-size: cover;
  background-position: center center;

  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 0;
    object-fit: cover;
  }

  section {
    position: relative;
    z-index: 1;
  }

  .hero-content {
    .title {
      font-weight: bold;
      font-size: 4.5em;
      color: #fff;
      text-shadow: 1px 1px 2px #000;
    }

    @media screen and (max-width: 990px) {
      .title {
        font-size: 3em;
      }
    }
    @media screen and (max-width: 500px) {
      .title {
        font-size: 2.5em;
      }
    }

    .h-separator {
      border-style: solid;
      border-width: 1.8px;
      width: 150px;
    }

    .hero-description {
      color: rgba(#fff, 0.8);
    }

    .hero-buttons {
      .btn {
        margin: 5px;
        width: 200px;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    height: 100vh;
  }
}
